<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainTrap">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BrainTrap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Blocking Activity -->
        <activity
            android:name=".ui.BlockingActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BrainTrap" />
        
        <!-- Challenge Activity -->
        <activity
            android:name=".ui.ChallengeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BrainTrap" />
        
        <!-- NFC Unlock Activity -->
        <activity
            android:name=".ui.NfcUnlockActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BrainTrap" />
        
        <!-- NFC Registration Activity -->
        <activity
            android:name=".ui.NfcRegistrationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BrainTrap" />
        
        <!-- Focus Mode Block Activity -->
        <activity
            android:name=".ui.FocusModeBlockActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.BrainTrap">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- NFC Verification Activity -->
        <activity
            android:name=".ui.NfcVerificationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.BrainTrap">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Accessibility Service -->
        <service
            android:name=".service.AppBlockingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        
        <!-- Device Admin Receiver -->
        <receiver
            android:name=".admin.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>